<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.LogDao">

    <resultMap id="LogResultMap" type="Log">
        <id property="logId" column="log_id" />
        <result property="logUser" column="log_user" />
        <result property="logTime" column="log_time" />
        <result property="logResource" column="log_resource" />
        <result property="logAction" column="log_action" />
        <result property="logMessage" column="log_message" />
        <result property="logResult" column="log_result" />
    </resultMap>

    <insert id="insertLog">
        insert into t_log values(#{logId} , #{logUser} , #{logTime} , #{logResource} , #{logAction} , #{logMessage} , #{logResult})
    </insert>

    <select id="findAllLogByPage" resultMap="LogResultMap">
        select * from t_log limit #{begin} , #{end}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from t_log
    </select>

</mapper>
